<!DOCTYPE html>
<html>
<head>
	<title>Grading System</title>
</head>
<body>
	<h1>This is grading system for them Madafacking retards</h1>
	<p>
		So apparently we can have statements in this Mafafacka! May <strong>The Madafackin Game Behin !</strong> </p>

	<h2>Actual Grades</h2>
	<p>Here is the list of all the Gouniafios</p>
	<table border = 1>
		{% for key, value in result.items() %}
		<tr>
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>

		{% endfor%}

		
	</table>
		




</body>
</html>